@media (max-width: 375px) {
    #logo{
        display: none;
    }
    #navbar {
        display: flex;
        justify-content: center;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
